


                        <div class="content-body">
                            <div class="container-fluid">
                                <!-- <div class="row page-titles mx-0">
                                    <div class="col-sm-6 p-md-0">
                                        <div class="welcome-text">
                                            <h4>Hi, welcome back!</h4>
                                            <span class="ml-1">Tab</span>
                                        </div>
                                    </div>
                                </div> -->
                        
                                <div class="row">
                                    <div class="container">
                                        <h1>Ajouter les niveaux</h1>

                                        <div class="form-container">
                                            <form method="post"  (ngSubmit)="addNiveau()">
                               


                                                <div class="form-group">
                                                    <label for="matiere">  niveau *</label>
                                                    <input type="text"  [(ngModel)]="niveau.name" name="a" >
                                                </div>
                                              
                                                <div class="form-group">
                                                    <label for="message">Description</label>
                                                    <textarea id="message" [(ngModel)]="niveau.desc" name="b" ></textarea>
                                                </div>
                        
                                                <div class="form-actions">
                                                    <button type="submit" class="btn">Ajouter niveau</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        