<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt-fill"></i> 123 Knowledge Street, Tunis, Tunisia</li>
                    <li><i class="bi bi-envelope-fill"></i> contact@privateschool.com</li>
                    <li><i class="bi bi-telephone-fill"></i> +216 71 123 456</li>
                </ul>
            </div> 

            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="courses.html">Our Courses</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>Opening Hours</h5>
                <ul class="list-unstyled">
                    <li>Monday - Friday: 08:00 - 18:00</li>
                    <li>Saturday: 09:00 - 13:00</li>
                    <li>Sunday: Closed</li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>Follow Us</h5>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="text-center">
            <p class="mb-0">&copy; 2024 Private School. All rights reserved.</p>
        </div>
    </div>
</footer> -->


<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Colonne 1 - À propos -->
            <div class="col-md-3">
                <h5>Collège Privé Elite</h5>
                <p>Établissement d'enseignement privé agréé par le Ministère de l'Éducation tunisien, spécialisé dans les classes de 7ème, 8ème et 9ème années.</p>
            </div>

            <!-- Colonne 2 - Liens utiles -->
            <div class="col-md-3">
                <h5>Liens Utiles</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Admissions</a></li>
                    <li><a href="#">Frais de scolarité</a></li>
                    <li><a href="#">Transport scolaire</a></li>
                    <li><a href="#">Restauration</a></li>
                    <li><a href="#">Règlement intérieur</a></li>
                </ul>
            </div>

            <!-- Colonne 3 - Niveaux scolaires -->
            <div class="col-md-3">
                <h5>Niveaux Scolaires</h5>
                <ul class="list-unstyled">
                    <li><a href="#">7ème Année</a></li>
                    <li><a href="#">8ème Année</a></li>
                    <li><a href="#">9ème Année</a></li>
                </ul>
            </div>

            <!-- Colonne 4 - Contact -->
            <div class="col-md-3">
                <h5>Coordonnées</h5>
                <ul class="list-unstyled contact-info">
                    <li><i class="bi bi-geo-alt-fill"></i> Rue de l'Éducation, Cité El Khadra, Tunis</li>
                    <li><i class="bi bi-telephone-fill"></i> +216 71 123 456</li>
                    <li><i class="bi bi-envelope-fill"></i> contact@collegeelite.tn</li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="text-center">
            <p class="mb-0">&copy; 2023 Collège Privé Elite. Tous droits réservés.</p>
        </div>
    </div>
</footer>