
    <div class="content-body">
        <div class="container-fluid">
            <div class="row dashboard-container">
                <div class="col-lg-12">
                    <div class="row">
                       
                        
                        <div class="col-md-6 col-lg-4 mb-4" *ngFor="let professor of professors">
                            <div class="prof-card" >
                                <div class="prof-header">
                                    <div>
                                        <div class="prof-name">{{ professor.firstName }} {{ professor.lastName }}</div>
                                    </div>
                                </div>
                                <div class="prof-details">
                                    <div class="detail-row">
                                        <i class="fas fa-envelope"></i>
                                        <span class="detail-value">{{ professor.email }}</span>
                                    </div>
                                    <div class="detail-row">
                                        <i class="fas fa-graduation-cap"></i>
                                        <span class="detail-value">{{ professor.specialite }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    