


    <div class="content-body">
        <div class="container-fluid">
            <div class="main-card">
                <div class="card-header">
                    <h2 class="card-title">Liste des Cours</h2>
                   
                </div>
                
                <div class="table-container">
                    <table class="cours-table" >
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Durée</th>
                                <th>Description</th>
                                <th>cours</th>
                                <th>TP</th>
                                <th>Actions</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let coursItem of cours">
                                <td> {{ coursItem.nom }}</td>
                                <td>{{ coursItem.duree }}</td>
                                <td>{{ coursItem.desc }}</td>
                                <td><a class="btn btn-primary" [href]="coursItem.file" target="_blank">Voir le Cours</a>

                             </td>
                                <td>
                                    <a *ngIf="coursItem.tp" class="btn btn-primary" [href]="coursItem.tp" target="_blank">Voir le TP</a>
                                    <span *ngIf="!coursItem.tp">Pas de TP</span>
                                </td>

                                
                                  
                                   <td>
                                  <button class="btn btn-danger"  > Supprimer</button>
                                  <button class="btn btn-primary" > modifier</button>
                                </td>
                            </tr>
                          
                           
                        </tbody>
                    </table>
                </div>
               
              
            </div>
        </div>
    </div>

