<div class="container mt-5">
    <h2 class="mb-4">Liste des cours</h2>
  
    <div class="row" *ngFor="let cour of cours">
      <div class="col-md-12 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title">{{ cour.nom }}</h5>
            <p class="card-text"><strong>Durée :</strong> {{ cour.duree }}</p>
            <p class="card-text"><strong>Description :</strong> {{ cour.desc }}</p>
  
            <div *ngIf="cour.file">
              <iframe 
                [src]="'https://docs.google.com/gview?url=' + cour.file + '&embedded=true'" 
                width="100%" height="500px" frameborder="0">
              </iframe>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  